<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>

<body>
    <main>
        <div class="top-row"></div>
        <div class="main-container" id="app">
            <div class="contacts-column">
                <div class="bar top-bar">
                    <img src="imgs/avatar_3.jpg" alt="" class="active-contact-img">
                    <div class="space-top-bar"></div>
                    <a href="">
                        <i class="fa fa-top-bar fa-circle-o-notch" aria-hidden="true"></i>
                    </a>
                    <a href="">
                        <i class="fa fa-top-bar fa-comment" aria-hidden="true"></i>
                    </a>
                    <a href="">
                        <i class="fa fa-top-bar fa-ellipsis-v" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="notifications-bar">
                    <div class="fa-container">
                        <i class="fa fa-bell-slash" aria-hidden="true"></i>
                    </div>
                    <div class="notifications-container">
                        <h5>Ricevi notifiche di nuovi messaggi</h5>
                        <a href="">
                            <h6>Attiva notifiche desktop</h6>
                        </a>
                    </div>
                </div>
                <div class="search-bar">
                    <i class="fa my-fa-search fa-search" aria-hidden="true"></i>
                    <input type="search" placeholder="Cerca o inizia una nuova chat" class="my-search-bar my-search-bar-pad"
                        v-model="searchContact" @input="onInput">
                </div>
                <div class="conversations-list">
                    <div v-for="element in filteredContacts" @click="onContactClick(element)" class="contact"
                        :class="{active: element.img === activeContact.img}">
                        <img class="contact-img" :src="element.img" alt="">
                        <div class="contact-info">
                            <h3> {{element.name}} </h3>
                            <h6> Non ci sono messaggi</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="conversation-column">
                <div class="bar">
                    <div class="top-bar" v-if="activeContact">
                        <img :src="activeContact.img" class="active-contact-img" alt="">
                        <div class="contact-info">
                            <h3> {{ activeContact.name }} </h3>
                            <h6>Ultimo accesso recente</h6>
                        </div>
                        <div class="space-top-bar"></div>
                        <a href="">
                            <i class="fa fa-top-bar fa-search" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-top-bar fa-paperclip" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-top-bar fa-ellipsis-v" aria-hidden="true"></i>
                        </a>
                    </div>
                    <!-- <div v-if="activeContact"></div> -->
                </div>
                <div class="conversation-space">
                    <div v-if="activeContact">
                        <div v-for="element in activeContact.messages" class="message-row" :class="element.status">
                            <div class="text-message-box" :class="element.status">
                                {{ element.text }}
                            </div>
                        </div>
                    </div>

                </div>
                <div class="bar bot-bar">
                    <a href="">
                        <i class="fa fa-top-bar fa-smile-o" aria-hidden="true"></i>
                    </a>
                    <input v-model="textMessage" @keyup.enter="showMessage" type="text"
                        placeholder="Scrivi un messaggio" class="my-search-bar">
                    <a href="">
                        <i class="fa fa-top-bar fa-microphone" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </main>

    <script src="script.js"></script>
</body>

</html>