* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100vw;
    height: 100vh;
    background-color: rgb(218, 219, 213);
    position: relative;
}

.top-row {
    height: 100px;
    width: 100%;
    background-color:rgb(65, 148, 136);
}

.main-container {
    width: 90vw;
    height: 90vh;
    position: absolute;
    top: 5vh;
    left: 5vw;
    display: flex;
    justify-content: flex-start;
}


.contacts-column {
    width: 25vw;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.conversation-column {
    flex-grow: 1;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.bar {
    height: 50px;
    width: 100%;
    background-color: rgb(237, 237, 237);
    flex-shrink: 0;
}

.notifications-bar {
    height: 75px;
    width: 100%;
    background-color: rgb(171, 223, 251);
    flex-shrink: 0;
}

.search-bar {
    height: 40px;
    width: 100%;
    background-color: rgb(237, 237, 237);
    padding: 5px 10px;
    flex-shrink: 0;
}

.my-search-bar {
    height: 100%;
    width: 100%;
    border-style: none;
    border-radius: 25px;
}

.conversations-list {
    display: flex;
    /* height: 100px; */
    flex-direction: column;
    overflow: auto;
}

.contact {
    /* width: 100%; */
    flex-shrink: 0;
    padding: 5px 5px 5px 5px;
    background-color: white;
    border-bottom: solid 1px lightgray;
    display: flex;
    flex-direction: row;
}

.contact-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.contact-info {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 6px 0;
}

.conversation-space {
    height: calc(100% - 100px);
    width: 100%;
    position: absolute;
    top: 50px;
    background-image: url(imgs/mine.jpg);
    padding: 20px;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.bot-bar {
    position: absolute;
    bottom: 0;
}

.message-row {
    display: flex;
    margin: 5px;
}

.my-message-row {
    justify-content: flex-end;
}

.contact-message-row {
    justify-content: flex-start;
}

.text-message-box {
    padding: 10px;
    border-radius: 5px;
    max-width: 300px;
}

.my-text-message {
    background-color: rgb(203, 243, 197);
}

.contact-text-message {
    background-color: rgb(225, 230, 243);
}


